<nav id="nav">
  <ul>
    <li><a href="/about/" title="General info">About</a></li>
    <li><a href="/news/" title="News and annoucements">News</a></li>
    <li><a href="/schedule/" title="Sessions">Schedule</a></li>
    <li><a href="/workshops/" title="Trainings / workshops">Workshops</a></li>
    <li><a href="/faq/" title="Frequently asked questions">FAQ</a></li>
    <li><a href="/contact/" title="Contact us">Contact</a></li>
  </ul>
</nav>

<div class="inner">

  <div id="branding">
    <a id="logo" href="/" title="BSides Kraków">
      <img src="/img/logo-small-transparent.png" width="100%" alt="BSides Kraków">
    </a>
  </div>

  <div id="cta-1">
    <a class="button" href="/schedule/">View schedule</a>
    <p></p>
  </div>

  <div id="cta-2">
    <a class="button" href="https://bsideskrakow2024.eventbrite.com/" target="_blank" title="Register now!">Register now!</a>
  </div>

</div><!-- .inner -->
