<div id="sponsors" role="contentinfo">

  <h3>Our sponsors</h3>

  <div class="longhorn">
    <div class="sponsor">
      <a id="" href="" title="" target="_blank"></a>
    </div>
  </div>

  <div class="party-trivia">
    <div class="sponsor">
      <a id="" href="" title="" target="_blank"></a>
    </div>
  </div>

  <div class="armadillo">
    <div class="sponsor">
      <a id="" href="" title="" target="_blank"></a>
    </div>
  </div>

  <h4>Collaborator</h4>

  <div class="bat">
    <div class="sponsor">
      <a id="hak5" href="https://hak5.org/" title="hak5" target="_blank">
        <img class="img-responsive img-centered" src="https://cdn.shopify.com/s/files/1/0068/2142/files/Hak5_Black-1024x576.png" alt="hak5">
      </a>
    </div>    
    <div class="sponsor">
      <a id="sessionize" href="https://sessionize.com/" title="sessionize" target="_blank">
        <img class="img-responsive img-centered" src="https://sessionize.com/landing/images/brand/banners/sessionize-banner-wide.png" alt="The smart way to do Call for Papers, Schedule and Speaker Management.">
      </a>
    </div>
  </div>

  <p>Interested in sponsoring? &nbsp; Contact &nbsp; <a href="mailto:contact@bsideskrakow.pl" title="Sponsor BSides Kraków">contact@bsideskrakow.pl</a> or check <a href="https://forms.gle/jojiTmpV9udyMM2U7" title="Sponsor BSides Kraków" target="_blank">here</a></p>

</div>