{% if page.blocks contains 'workshops' %}
<div class="block block-workshops">
  <h2>BSides Kraków Workshops</h2>

  <p>Trainings / Workshops are FREE in a classroom setting that focus on specific topics and are taught using a hands-on approach. They are a great way to take deep dives into specific topics of InfoSec.</p>

  <p><strong>Half-day workshops (Saturday)</strong></p>

  <p><a href="#">TBD</a></p>
  <p><a href="#">TBD</a></p>
  <p><a href="#">TBD</a></p>
  <p><a href="#">TBD</a></p>

  <p><strong>Full-day workshops (Saturday)</strong></p>

  <p><a href="#">TBD</a></p>
  <p><a href="#">TBD</a></p>

<p><strong>Note:</strong> Trainings / Workshop registration is required. If you wish to attend a training / workshop at BSides Kraków, you must register <a href="#" title="Training / Workshop registration">here</a>.</p>

</div>
{% endif %}
